dist
coverage
node_modules
.husky
.next
Dockerfile
Dockerfile.dev
package.json
package-lock.json
public
.gitignore
.dockerignore
.eslintignore
README.md
run-tests.sh
start.sh
stop.sh
docker-compose.yml
docker-compose-dev.yml