* {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
    transition: 300ms all;
    background: var(--main-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
a,
ul,
span,
input,
button,
table,
label {
    font-family: 'Quicksand', sans-serif;
}

form,
input,
label,
button {
    outline: none;
}

label,
svg {
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: inherit;
}

input {
    border: none;
    outline: none;
    background: inherit;
}

ul {
    list-style-type: disc;
}
